nav {
    z-index: 10;

    #navbar-outside-box {
        width: 100%;
        max-width: var(--viewMaxWidth);

        position: fixed;
        top: 0;
        left: 50%;
        transform: translate(-50%, 0);

        #navbar-inside-box {
            margin: 24px 48px;
            box-sizing: border-box;

            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 20px;
            border-radius: 8px;
            backdrop-filter: blur(10px);
            background-color: var(--whiteTransparent50);

            #logo {
                img {
                    display: block;
                    width: 200px;
                }
            }

            #links {
                display: flex;
                gap: 24px;

                .link {
                    padding: 8px 12px;
                    font-size: var(--captionsFootnotes);
                    color: var(--primaryColor);

                    :hover {
                        color: var(--subtextColor);
                    }
                }
            }

            #cta {
                button {
                    display: flex;
                    align-items: center;
                    gap: 8px;
                    padding: 18px 24px;
                    background-color: var(--secondaryColor);

                    p {
                        color: var(--primaryColor);
                        font-size: var(--captionsFootnotes);
                    }

                    svg path {
                        fill: var(--primaryColor);
                    }
                }

                :hover {
                    background-color: var(--primaryColor);

                    p {
                        color: var(--alternativeColor);
                    }

                    svg path {
                        fill: var(--alternativeColor);
                    }
                }
            }

        }
    }
}

/* --- Laptop --- */

@media screen and (max-device-width: 900px),
screen and (max-width: 900px) {
    nav {

        #navbar-outside-box {

            #navbar-inside-box {

                #links {
                    display: none;
                }
            }
        }
    }
}

/* --- Mobile --- */

@media screen and (max-device-width: 640px),
screen and (max-width: 640px) {
    nav {

        #navbar-outside-box {

            #navbar-inside-box {
                margin: 8px;
                padding: 16px;

                #logo {
                    img {

                        width: 120px;
                    }
                }

                #links,
                #cta {
                    display: none;
                }
            }
        }
    }
}