#session-chargers {
    margin: 64px 48px;

    #chargers-header {
        display: flex;
        flex-direction: column;
        gap: 16px;
        align-items: center;
        justify-content: center;

        h1 {
            font-size: var(--captionsFootnotes);
            font-weight: normal;
            padding: 10px 20px;
            text-align: center;
            background-color: var(--backgroundColor2);
            color: var(--primaryColor);
        }

        h2 {
            font-size: var(--headingThree);
            font-weight: normal;
            text-align: center;
            color: var(--primaryColor);
        }
    }

    #chargers-cards {
        display: flex;
        gap: 20px;
        justify-content: center;
        flex-wrap: wrap;


        .chargers-card {
            display: flex;
            flex-direction: column;
            gap: 8px;
            max-width: 370px;
            margin-top: 40px;
            cursor: pointer;

            &:hover img {
                filter: brightness(70%);
            }

            h1 {
                margin-top: 8px;
                font-size: var(--paragraphText);
                font-weight: normal;
                color: var(--primaryColor);
            }

            p {
                font-size: var(--captionsFootnotes);
                color: var(--subtextColor);
            }

            .charger-price {
                display: flex;
                gap: 8px;

                p {
                    font-size: var(--paragraphText);
                }

                .old-price {
                    color: var(--subtextColor);
                }

                .new-price {
                    color: var(--primaryColor);
                }
            }
        }
    }
}

/* --- Mobile --- */

@media screen and (max-device-width: 480px),
screen and (max-width: 480px) {
    #session-chargers {
        margin: 32px 16px;

        #chargers-header {
            margin-bottom: 32px;

            h1 {
                font-size: var(--captionsFootnotesSmall);
                padding: 8px 16px;
            }

            h2 {
                font-size: var(--headingSix);
            }
        }

        #chargers-cards {
            display: flex;
            flex-direction: row;
            gap: 32px;

            .chargers-card {
                display: flex;
                flex-direction: column;
                gap: 8px;
                width: 100%;
                max-width: none;
                margin-top: 0;

                img {
                    width: 100%;
                    aspect-ratio: 1 / 0.8;
                    object-fit: cover;
                    object-position: center middle;
                }
            }
        }
    }
}