@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap');

:root {
    --backgroundColor1: #ffffff;
    --backgroundColor2: #EDF2F6;
    --backgroundColor3: #E9E9E9;
    --whiteTransparent50: #ffffff80;
    --whiteTransparent10: #ffffff1a;
    --primaryColor: #000000;
    --secondaryColor: #E9FF61;
    --subtextColor: #999999;
    --alternativeColor: #ffffff;

    --captionsFootnotes: 18px;
    --headingOne: 136px;
    --headingTwo: 80px;
    --headingThree: 60px;
    --paragraphText: 24px;

    --viewMaxWidth: 1440px;
}

* {
    margin: 0;
    font-family: "Syne", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    transition: 0.1s;
}

body {
    margin: 0 auto;
    background: var(--backgroundColor1);
}

button {
    cursor: pointer;
    border: none;
}

a {
    text-decoration: none;
}