@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap');

:root {
    --backgroundColor1: #ffffff;
    --whiteTransparent50: #ffffff80;
    --primaryColor: #000000;
    --secondaryColor: #E9FF61;
    --subtextColor: #999999;
    --alternativeColor: #ffffff;

    --captionsFootnotes: 18px;
    --headingTwo: 80px;
    --paragraphText: 24px;
}

* {
    margin: 0;
    font-family: "Syne", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    transition: 0.1s;
}

body {
    display: flex;
    justify-content: center;
    margin: 0 auto !important;
    background: var(--backgroundColor1);
}

button {
    cursor: pointer;
    border: none;
}

a {
    text-decoration: none;
}